@model Shace.Models.SettingsModel;

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>Настройки</title>
  <style>
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: left;
      background-color: #fff;
    }

    .tabs {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }

    .tabs>input[type="radio"] {
      display: none;
    }

    .tabs>input[type="radio"]:checked+label {
      background-color: #bdbdbd;
    }

    form{
        margin: 10px;
    }

    .tabs>div {
      /* скрыть контент по умолчанию */
      display: none;
      border: 1px solid #eee;
      padding: 10px 15px;
      border-radius: 4px;
    }

    /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
    #tab-btn-1:checked~#content-1,
    #tab-btn-2:checked~#content-2,
    #tab-btn-3:checked~#content-3,
    #tab-btn-4:checked~#content-4 {
      display: block;
    }

    .tabs>label {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      background-color: #eee;
      border: 1px solid transparent;
      padding: 2px 8px;
      font-size: 16px;
      line-height: 1.5;
      border-radius: 4px;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      margin-left: 6px;
      cursor: pointer;
      margin-bottom: 10px;
    }

    .tabs>label:first-of-type {
      margin-left: 0;
    }
  </style>
  <script>
   function DeleteAcc(f) {
    if (confirm("Вы уверены, что хотите удалить аккаунт?\nЭта операция не восстановима.")) 
       f.submit();
   }
  </script>

</head>

<body>
    <div class="tabs">
        <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
        <label for="tab-btn-1">Редактировать профиль</label>
        <input type="radio" name="tab-btn" id="tab-btn-2" value="">
        <label for="tab-btn-2">Сменить пароль</label>
        <input type="radio" name="tab-btn" id="tab-btn-3" value="">
        <label for="tab-btn-3">Приватность</label>
        <input type="radio" name="tab-btn" id="tab-btn-4" value="">
        <label for="tab-btn-4">Удалить аккаунт</label>
        <div id="content-1">
            <form asp-action="ChangeAcc" asp-controller="Settings" asp-anti-forgery="true" class="ChangeAcc">
                <div class="validation" style="display:block;font-size:16px;margin-left:50px; margin-right:30px; text-align:left; color:deepskyblue" asp-validation-summary="ModelOnly"> </div>
                <span style="display:block;font-size:16px;margin-left:50px; margin-right:30px; text-align:left; color:deepskyblue" asp-validation-for="ShortName"></span>
                <span style="display:block;font-size:16px;margin-left:50px; margin-right:30px; text-align:left; color:deepskyblue" asp-validation-for="Email"></span>

                <div style="margin-bottom: 40px; display:block;" class="form-group">
                    <span style="text-align: center;">Имя пользователя:</span>
                    <input style="float: right;" type="text" asp-for="ShortName" value="@ViewBag.Account.ShortName">
                </div>
                <div style="margin-bottom: 40px; display:block;" class="form-group">
                    <span style="text-align: center;">О себе:</span>
                    <textarea id="Description" style="float: right; resize: none;" asp-for="Description" placeholder="@ViewBag.Account.Description"></textarea>
                </div>
                <div style="margin-bottom: 40px; display:block;" class="form-group">
                    <span style="text-align: center;">Эл.адрес:</span>
                    <input style="float: right;" type="text" asp-for="Email" value="@ViewBag.Account.Email">
                </div>
                <div style="margin-bottom: 40px; display:block;" class="form-group">
                    <span style="text-align: center;">Номер телефона:</span>
                    <input style="float: right;" type="text" asp-for="Phone" value="@ViewBag.Account.Phone">
                </div>
                <div style="margin-bottom: 40px; display:block;" class="form-group">
                    <span style="text-align: center;">Локация:</span>
                    <input style="float: right;" type="text" asp-for="Location" value="@ViewBag.Account.Location">
                </div>
                <div style="margin-bottom: 40px; display:block;" class="form-group">
                    <input style="float: right;" type="submit" value="Отправить">
                </div>
            </form>
        </div>
        <div id="content-2">
            <form asp-action="ChangePass" asp-controller="Settings" asp-anti-forgery="true" class="ChangePass">
                <div class="validation" style="display:block;font-size:16px;margin-left:50px; margin-right:30px; text-align:left; color:deepskyblue" asp-validation-summary="ModelOnly"> </div>
                <span style="display:block;font-size:16px;margin-left:50px; margin-right:30px; text-align:left; color:deepskyblue" asp-validation-for="OldPassword"></span>
                <span style="display:block;font-size:16px;margin-left:50px; margin-right:30px; text-align:left; color:deepskyblue" asp-validation-for="NewPassword"></span>
                <span style="display:block;font-size:16px;margin-left:50px; margin-right:30px; text-align:left; color:deepskyblue" asp-validation-for="ConfirmPassword"></span>
                <div style="margin-bottom: 40px; display:block;" class="form-group">
                    <span>Старый пароль:</span>
                    <input style="float: right;" type="password" asp-for="OldPassword">
                </div>
                <div style="margin-bottom: 40px; display:block;" class="form-group">
                    <span>Новый пароль:</span>
                    <input style="float: right;" type="password" asp-for="NewPassword">
                </div>
                <div style="margin-bottom: 40px; display:block;" class="form-group">
                    <span>Подтв. пароля:</span>
                    <input style="float: right;" type="password" asp-for="ConfirmPassword">
                </div>
                <div style="margin-bottom: 40px; display:block;" class="form-group">
                    <input style="float: right;" type="submit" value="Сменить пароль">
                </div>
            </form>
        </div>
        <div id="content-3">
            <form id="form-@ViewBag.Account.Privacy" asp-action="PrTrFal" asp-controller="Settings">
                @if (ViewBag.Account.Privacy == true)
                {
                    <div>
                        <span style="text-align:center;">Ваш аккаунт закрытый.</span>
                    </div>
                    <div>
                        <input type="hidden" name="Privacy" value="false">
                        <input type="checkbox" checked onclick="document.getElementById('form-@ViewBag.Account.Privacy').submit();" value="true">
                    </div>
                }
                else
                {
                    <div>
                        <span style="text-align:center;">Ваш аккаунт открытый.</span>
                    </div>
                    <div>
                        <input type="hidden" name="Privacy" value="true">
                        <input type="checkbox" unchecked onclick="document.getElementById('form-@ViewBag.Account.Privacy').submit();" value="false">
                    </div>
                }
            </form>
        </div>
        <div id="content-4">
            <form asp-action="DeleteAcc" asp-controller="Settings" asp-anti-forgery="true" class="DeleteAcc" onsubmit="DeleteAcc(this);return false">
                <div class="validation" style="display:block;font-size:16px;margin-left:50px; margin-right:30px; text-align:left; color:deepskyblue" asp-validation-summary="ModelOnly"> </div>
                <input type="submit" value="Удалить аккаунт">
            </form>
        </div>
    </div>

</body>

</html>
